body {
    background-color: #000;
    font-family: Arial;
    color: #fff;
}

#ballControll{
    position: absolute;
    top: 30%;
    margin-left: 35%;
    margin-right: auto;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    background-color: #f00;
}

#StatOutputContainer{
    font-size: 22px;
    position: fixed;
    width: 30%;
    border-style: dotted;
    top: 70%;
}

#StatControlContainer{
    position: absolute; 
    top: 80%;
    margin-left: 50%;
}

.graph{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    position: relative;
    width: 150px;
    height: 5px;
    background-color: #ff6a00;
}