body {
    background-color: #000;
    font-family: Arial;
    color: #fff;
}

#ballControll{
    position: absolute;
    top: 40%;
    margin-left: 50%;
    margin-right: auto;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: #f00;
}

#StatOutputContainer{
    font-size: 22px;
    position: fixed;
    width: 10%;
    border-style: dotted;
    top: 70%;
}